/* Main container */
div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #eef7ff;
  min-height: 100vh;
  padding-top: 40px;
}

/* Title */
h1 {
  margin-bottom: 20px;
  color: #222;
}

/* Chat box */
div > div {
  width: 60%;
  color:#000000;
  min-height: 300px;
  background: white;
  border-radius: 10px;
  border:2px solid #222;
  padding: 15px;
  margin-bottom: 20px;
  overflow-y: auto;
  border: 1px solid #222;
}

/* Each message */
p {
  background: #d9eaff;
  padding: 8px 12px;
  border-radius: 6px;
  margin: 6px 0;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
}

/* Input field */
input {
  width: 45%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
  outline: none;
  margin-right: 10px;
}

/* Input focus effect */
input:focus {
  border-color: #5390fc;
}

/* Button styling */
button {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #42b72a;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #36a420;
}
